* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    display: flex;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    padding: 50px;
    font-size: 80px;
    border: 10px solid #00A7E0;
    color: #00A7E0;
    background-color: #060E06;
    text-shadow: 0 0 30px #1803ff; 
    border-radius: 10rem;
    cursor: progress;
}
span {
    margin: 0 10px;
}

.clock:hover {
    text-shadow: 0 0 30px #D638E0;
    border: 10px solid #8572E0;
    color: #8572E0;
    transition: 1.5s;
}

/* Font-Family: Courier New */